!!!
html
  head
    title Socket.IO Chat
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src: '/javascripts/json.js')
    script(src: '/socket.io/socket.io.js');
    script(src: '/javascripts/main.js')
  body!= body
