!!!
html
  head
    title= this.app.set('name')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= localVariable
    h2= this.connection.remoteAddress
    #header
      h1= this.app.set('name')
      nav
        a(href: '/') Index
        | |
        a(href: '/archive') Archive
        | |
        a(href: '/admin') Admin
    != body
