html, body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
}
#sprites {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -160px;
  width: 320px;
  height: 480px;
  background: url(logo.png) center no-repeat;
}
#sprites div {
  position: absolute;
  background: url(sprites.png);
  border-radius: 24px;
  width: 74px;
  height: 64px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
}
#sprites .highlight { background-position: 0px 0px; }
#sprites .space { background-position: 0px 512px; }
#sprites .red { background-position: 0px 448px; }
#sprites .brown { background-position: 0px 384px; }
#sprites .purple { background-position: 0px 320px; }
#sprites .blue { background-position: 0px 256px; }
#sprites .orange { background-position: 0px 192px; }
#sprites .green { background-position: 0px 128px; }
#sprites .yellow { background-position: 0px 64px; }

